*.zip
.DS_Store
.idea

node_modules
npm-debug.log

misc

dev/vendor
dev/composer.lock
dev/composer.phar

dev/site/assets/css
dev/site/assets/js	
dev/site/assets/img/sprite
dev/site/assets/favicons
dev/site/assets/icons

dev/services/cache
