$hero-picture-height : 500px;

.hero-picture {

	$subhead-line-height: 20px;

	height: $hero-picture-height;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	background: #F6F6F6;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: $hero-picture-z-index;
	color: $white-color;

	img {
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}

	figcaption {
		position: relative;
		z-index: 10;
		text-align: center;
		margin-top: $subhead-line-height;
		max-width: 1200px;
	}

	h1 {
		font: 700 130px/130px $font-family;
	}

	h2 {
		font: 500 16px/24px $font-family;
		letter-spacing: 0.2em;
		position: absolute;
		bottom: 100%;
		left: 0;
		width:100%;
	}
}

.hero-picture-placeholder {
	height: $hero-picture-height;
}