{% set class = 'arrow' %}

{% if type %}
	{% set class = class ~ ' arrow-' ~ type %}
{% endif %}

{% if direction %}
	{% set class = class ~ ' arrow-' ~ direction %}
{% endif %}

<span class="{{ class }}">{{ icons('arrow-spike') }}</span>