<div class="cookie-band opened">
	<p>Nous utilisons des cookies pour enregistrer des informations et vous offrir une meilleure expérience. En accédant à ce site, vous acceptez l'utilisation de cookies. <a href="{{ ROOT_WEB ~ '/mentions-legales' }}">En savoir plus</a></p>
	<div class="close-button">
		<span></span>
		<span></span>
	</div>
</div>