{% set src = picture ? picture : ASSETS ~ 'temp/pic.jpg' %}

<figure class="hero-picture">
	<img data-src="{{ src }}"/>
	<figcaption>
		<h1>{{ title }}</h1>
		<h2>{{ subhead }}</h2>
	</figcaption>
	<div class="scroll-button">Scroll</div>
</figure>

<div class="hero-picture-placeholder"></div>