<figure class="hero-picture">
	<img src="{{ ASSETS ~ 'temp/pic.jpg' }}" />
	<figcaption>
		<h1>{{ title }}</h1>
		<h2>{{ subhead }}</h2>
	</figcaption>
</figure>

<div class="hero-picture-placeholder"></div>