<div class="popin popin-inscription" data-popin="inscription">
	<div class="overlay"></div>
	<div class="form-inscription">
		<div class="shapes-container">
			<div class="triangle" style="left: 100.354px; top: 155.078px; transform: translate3d(0px, -21.4975px, 0px);"><span style="border-left: 11px solid transparent; border-right: 11px solid transparent; border-bottom-width: 11px; transform: rotate(245deg); height: 0px; width: 0px; opacity: 0.69933;"></span></div>
			<div class="circle" style="left: 87.1048px; top: 38.3036px; transform: translate3d(0px, -38.4947px, 0px);"><span style="height: 36px; width: 36px; opacity: 0.786565;"></span></div>
			<div class="circle" style="left: 282.633px; top: 278.133px; transform: translate3d(0px, 132.409px, 0px);"><span style="height: 27px; width: 27px; opacity: 0.617085;"></span></div>
			<div class="circle" style="left: 488.698px; top: 466.696px; transform: translate3d(0px, 7.58968px, 0px);"><span style="height: 15px; width: 15px; opacity: 0.993405;"></span></div>
			<div class="band" style="left: 644.942px; top: 249.805px; transform: translate3d(0px, 158.616px, 0px);"><span style="transform: rotate(233deg); height: 5px; width: 27px; opacity: 0.998556;"></span></div>
			<div class="circle" style="left: 309.423px; top: 161.147px; transform: translate3d(0px, -2.01766px, 0px);"><span style="height: 27px; width: 27px; opacity: 0.810275;"></span></div>
			<div class="triangle" style="left: 612.238px; top: 208.741px; transform: translate3d(0px, 15.3298px, 0px);"><span style="border-left: 11px solid transparent; border-right: 11px solid transparent; border-bottom-width: 11px; transform: rotate(64deg); height: 0px; width: 0px; opacity: 0.795004;"></span></div>
			<div class="triangle" style="left: 655.659px; top: 241.245px; transform: translate3d(0px, 2.31967px, 0px);"><span style="border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom-width: 10px; transform: rotate(309deg); height: 0px; width: 0px; opacity: 0.951244;"></span></div>
			<div class="triangle" style="left: 107.649px; top: 279.46px; transform: translate3d(0px, 56.098px, 0px);"><span style="border-left: 16px solid transparent; border-right: 16px solid transparent; border-bottom-width: 16px; transform: rotate(6deg); height: 0px; width: 0px; opacity: 0.448095;"></span></div>
		</div>
		<form class="form">
			<p class="title">Toujours n° 1</p>
			<p class="text">Découvre en 1er les billets qui font l'internet de demain !</p>
			<input type="email" name="email" id="email" placeholder="Ton email ici" />
			<span class="button-submit">M'inscrire{% include 'components/arrow.html.twig' with {direction: 'right'} %}</span>
		</form>
		<div class="validation">
			<p class="title">Merci pour ton inscription</p>
		</div>
		<div class="close-button popin-close-button">
			<span></span>
			<span></span>
		</div>
	</div>
</div>