// -------------------------o Fonts

$font-family: 'Gilroy', 'Helvetica', sans-serif;


/**
* 	@section main colors
*/ 

$white-color 				: #FFFFFF;
$black-color 				: #000000;
$black-light-color			: #323232;

$grey-color					: #9f9ea3;

$grey-dark					: #131313;
$grey-light					: #bebdc2;


/**
* 	@section template colors
*/ 

$background-color 			: #f2f2f2;
$text-color 				: $black-color;


$footer-height				: 300px;



// -------------------------o Z-indexes
$main-header-z-index		: 100;
$page-container-z-index		: 50;

$hero-picture-z-index		: 50;


// -------------------------o Breakpoints

$large-screen-size:							1400px;
$tablet-landscape-size:						1000px;
$tablet-portrait-size:						800px;
$mobile-size:								600px;

body::before {
	content: 'desktop';
	display: none;
}

@media all and (max-width: $tablet-landscape-size) {
	body::before { content: 'tablet-landscape'; }
}

@media all and (max-width: $tablet-portrait-size) {
	body::before { content: 'tablet-portrait'; }
}

@media all and (max-width: $mobile-size) {
	body::before { content: 'mobile'; }
}
