// ------------------------------o Import fonts

$fontPath : '../fonts/';

@include font-face('Gilroy', 'gilroy-light', 300, normal, $fontPath);
@include font-face('Gilroy', 'gilroy-regular', 400, normal, $fontPath);
@include font-face('Gilroy', 'gilroy-medium', 500, normal, $fontPath);
@include font-face('Gilroy', 'gilroy-bold', 700, normal, $fontPath);

// ------------------------------o Main styles

body {
	background : $background-color;
	font: 400 16px/24px $font-family;
	color: $text-color;
}

.ajaxContainer {
	overflow: hidden;
	position: relative;
}

// ---o Browser sync
#__bs_notify__ {
	display: none !important;
}

// -----------------------------------------o

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	z-index: 1;
}

.icons-container {
	display: none;
}

.icon {
	fill: red;
}

a {
	color: inherit;
}

.no-transition {
	transition: all 0ms linear 0ms !important;
}

.no-transition-all {
	transition: all 0ms linear 0ms !important;

	*,
	&::after,
	&::before,
	*::before,
	*::after {
		transition: all 0ms linear 0ms !important;
	}
}

.center {
	width: 1080px;
	margin: 0 auto;
}

.page-container {
	position: relative;
	z-index: $page-container-z-index;
}

.page-content {
	position: relative;
	z-index: ($hero-picture-z-index + 1);
	height: 1000px;
	background: #F0F0F0;
}

