.popin {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: $white-color;
	z-index: 1000;

	.close-button {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 50px;
		padding: 15px;
		box-sizing: border-box;
		cursor: pointer;
		z-index: 100;

		span {
			display: block;
			height: 1px;
			width: 20px;
			background: $black-color;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -10px;

			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				transform: rotate(-45deg);
			}
		}
	}

	// ---o Transitions
	opacity: 0;
	visibility: hidden;

	&.opened {
		opacity:1;
		visibility: visible;
	}
}