.popin {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: $white-color;
	z-index: 1000;

	.close-button {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 50px;
		padding: 15px;
		box-sizing: border-box;
		cursor: pointer;
		z-index: 100;
		overflow: hidden;

		span {
			display: block;
			height: 1px;
			width: 20px;
			background: $black-color;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -10px;
			will-change: transform;

			&:nth-child(1) {
				transform: rotate(45deg);
			}

			&:nth-child(2) {
				transform: rotate(-45deg);
			}
		}
	}

	// ---o Pre-displayed

	&.pre-opened {
		.close-button {
			span {
				&:nth-child(1) {
					transform:rotate(45deg) translate3d(200%, 0, 0);
				}

				&:nth-child(2) {
					transform:rotate(-45deg) translate3d(200%, 0, 0);
				}
			}
		}
	}

	// ---o Transitions
	opacity: 0;
	visibility: hidden;

	&.opened {
		opacity:1;
		visibility: visible;

		.close-button {
			span {
				transition: transform 700ms $ease-out-expo 300ms;
				will-change: transform;

				&:nth-child(2) {
					transition-delay: 400ms;
				}
			}

			&:hover {
				span {
					animation-duration:700ms;
					animation-timing-function:$ease-in-out-quart;
					
					&:nth-child(1) {
						animation-name:close-button-hover-1;
						animation-delay:200ms;
					}

					&:nth-child(2) {
						animation-name:close-button-hover-2;
						animation-delay:100ms;
					}
				}
			}
		}
	}
}

@keyframes close-button-hover-1 {
	0% {
		transform:rotate(45deg) translate3d(0, 0, 0);
	}
	49% {
		transform:rotate(45deg) translate3d(200%, 0, 0);
	}
	50% {
		opacity:0;
	}
	51% {
		opacity:1;
		transform:rotate(45deg) translate3d(-200%, 0, 0);
	}
	100% {
		transform:rotate(45deg) translate3d(0, 0, 0);
	}
}

@keyframes close-button-hover-2 {
	0% {
		transform:rotate(-45deg) translate3d(0, 0, 0);
	}
	49% {
		transform:rotate(-45deg) translate3d(200%, 0, 0);
	}
	50% {
		opacity:0;
	}
	51% {
		opacity:1;
		transform:rotate(-45deg) translate3d(-200%, 0, 0);
	}
	100% {
		transform:rotate(-45deg) translate3d(0, 0, 0);
	}
}