{% extends ajax ? "default/empty.html.twig" : "default/layout.html.twig" %}

{% block content %}

	<header>
		<h1>{{ data.header_subhead }}</h1>
		<h2>{{ data.header_title }}</h2>
	</header>

{% endblock %}