{% extends ajax ? "default/empty.html.twig" : "default/layout.html.twig" %}

{% block content %}

	{% include 'components/hero-picture.html.twig' with {
		subhead: data.header_subhead,
		title: data.header_title
	} %}

	<div class="page-content">

	{% include 'components/slider.html.twig' with {
		slides: data.case_studies
	} %}

	</div>

{% endblock %}