{% extends ajax ? "default/empty.html.twig" : "default/layout.html.twig" %}

{% block content %}

	{% include 'components/hero-picture.html.twig' with {
		subhead: data.header_subhead,
		title: data.header_title,
		picture: data.header_background.url
	} %}

	<div class="page-content">
	
		<div class="block block-about">
			<header>
				<p class="block-title">{{ data.description_title }}</p>
			</header>
			<div class="text">{{ data.description_text }}</div>
			<p class="sub-text">{{ data.description_sub_text }}</p>
		</div>

		<div class="block block-slider">
			<header>
				<p class="block-title">Nos dernières études de cas</p>
			</header>
			{% include 'components/slider.html.twig' with {
				slides: data.case_studies
			} %}
		</div>

		<div class="block block-social">
			<header>
				<p class="block-title">Perspectives</p>
				<a href="">Voir tout</a>
			</header>
		</div>

	</div>

{% endblock %}