{% extends ajax ? "default/empty.html.twig" : "default/layout.html.twig" %}

{% block content %}

	{% include 'components/hero-picture.html.twig' with {
		subhead: "Le temps d'y voir plus clair",
		title: 'Perspectives',
		picture: ASSETS ~ 'img/perspectives-hero-picture.jpg'
	} %}

	<div class="page-content">
		<div class="center">
			Content
		</div>
	</div>

{% endblock %}