{% extends ajax ? "default/empty.html.twig" : "default/layout.html.twig" %}

{% block content %}

	{% include 'components/hero-picture.html.twig' with {
		subhead: data.info.subhead,
		title: data.info.title,
		picture: data.info.background.url,
		video: data.header_background_video.url,
		small: true
	} %}

	<div class="page-inner">

		<div class="block block-about">
			<div class="text">{{ data.info.content|raw }}</div>
		</div>

		{% include 'components/social-grid.html.twig' with {
			items: global.social_feed,
			length: 16
		} %}

		<nav class="pagination">
			{% if data.page != 1 %}
			<a href="">Précédent</a>
			<span>...</span>
			{% else %}
			<span>Précédent</span>
			{% endif %}

			

			{% if data.page != data.lastPage %}
			<span>...</span>
			<a href="">Suivant</a>
			{% else %}
			<span>Suivant</span>
			{% endif %}

		</nav>
	</div>

{% endblock %}