.main-header {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	pointer-events: none;
	z-index: $main-header-z-index;
}

// -----o Main Logo
.main-logo {
	position: absolute;
	top: 30px;
	left: 50px;
	z-index: $main-header-z-index + 2;
	width: 58px;
	white-space: nowrap;
	pointer-events: auto;

	svg {
		fill: $white-color;
		width: 58px;
		height: 48px;
	}

	.text {
		white-space: nowrap;
		margin-left: 30px;
		display: inline-block;
		position: relative;
		top: -12px;
		pointer-events: none;

		div {
			font: 600 12px/16px $font-family;
			letter-spacing: 0.2em;

			&:nth-child(1) {
				text-transform: uppercase;
			}

			&:nth-child(2) {
				font-weight: 300;
			}
		}
	}
}

// -----o Main Menu Button
.main-menu-button {
	position: absolute;
	top: 80px;
	left: 35px;
	z-index: $main-header-z-index + 1;
	cursor: pointer;
	pointer-events: auto;


	& > div {
		position: absolute;
		top: 0;
		left: 0;
		width: 60px;
		padding: 15px;
	}

	// ---o Open button
	.open-button {
		overflow: hidden;
		div {
			display: block;
			height: 1px;
			width: 100%;
			position: relative;

			&:not(:last-child) {
				margin: 0 0 9px;
			}

			&:nth-child(1) { width: 28px; }
			&:nth-child(2) { width: 18px; }
			&:nth-child(3) { width: 38px; }

			&:after {
				content: '';
				display: block;
				height: 100%;
				width: 100%;
				background: $white-color;
			}
		}

		span {
			font: 300 10px/20px $font-family;
			text-transform: uppercase;;
			color: $white-color;
			letter-spacing: 0.2em;
			position: absolute;
			top: 50%;
			margin-top: -10px;
			left: calc(100% + 15px);
			opacity: 0;
			transition: opacity 500ms $ease-out-expo;
		}
	}

	// ---o Close button
	.close-button {
		span {
			background: $grey-color;
			width: 34px;
			position: absolute;
		}
	}

	// ---o States & animations
	.open-button {

		div:after {
			transition: background 500ms $ease-out-expo 0ms, transform 500ms $ease-out-expo 0ms;
			transform-origin: 0 50%;
		}

		div:first-child:after {
			transform-origin: 50% 50%;
		}

		&:hover {
			div {
				&:nth-child(1):after { transform: scaleX(1.5); }
				&:nth-child(2):after { transform: scaleX(0); }
				&:nth-child(3):after { transform: scaleX(0); }
			}

			span {
				opacity: 1;
				transition-delay: 150ms;
			}
		}
	}
}


// -----o Menu overlay
.main-menu-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba($black-color, 0.2);
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: opacity 1000ms $ease-out-expo 0ms, visibility 0ms $ease-out-expo 1000ms;
}

.main-header.opened .main-menu-overlay {
	visibility: visible;
	opacity: 1;
	transition-delay: 0ms, 0ms;
}


// -----o Main Menu
$main-menu-width: 480px;
$main-menu-padding-top: 120px;

.main-menu {
	position: relative;
	top: 0;
	left: 0;
	min-height: 100vh;
	background: $white-color;
	width: $main-menu-width;
	padding-top: $main-menu-padding-top;
	font: 300 30px/72px $font-family;
	overflow: hidden;
	box-sizing: border-box;

	p {
		display: block;
		position: relative;
		padding: 0 50px 0 140px;

		span {
			display: block;
		}
	}

	li {
		p:not(.back-button):before {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			background: $grey-dark-color;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: 1px;
		}
	}

	.sub-menu {
		font: 400 16px/60px $font-family;
		text-transform: uppercase;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		left: 100%;
		overflow: hidden;
	}

	.back-button {
		font: 400 14px/24px $font-family;
		text-transform: none;
		margin-top: 60px;
		color: $grey-light-color;
		cursor: pointer;

		.arrow {
			float: left;
			position: relative;
			top: 10px;
			margin-right: 10px;
			background: $grey-light-color;

			svg {
				fill: $grey-light-color;
			}
		}

		// ---o Transitions
		.arrow {
			transition: transform 500ms $ease-out-expo 0ms;
		}

		&:hover .arrow {
			transform: rotate(180deg) translate3d(10px, 0, 0);
		}
	}

	// ---o Animations

	& > ul,
	& > .contact {
		transition: transform 600ms $ease-out-expo 0ms;
	}

	&.sub-menu-opened {
		& > ul,
		& > .contact {
			transform: translate3d(-100%, 0, 0);
		}
	}

	p:not(.back-button) {
		span {
			transition: transform 500ms $ease-out-expo 0ms;
		}

		&:before {
			transform: translate3d(-100%, 0, 0);
			transition: transform 700ms $ease-out-expo 0ms;
		}

		&:hover,
		&.active {
			span {
				transform: translate3d(40px, 0, 0);
			}

			&:before {
				transform: translate3d(calc(-100% + 150px), 0, 0);
			}
		}
	}
}

// ---o Sub menu pictures
.case-studies-pictures {
	position: fixed;
	top: 0;
	left: $main-menu-width;
	height: 100%;
	width: calc(100% - #{$main-menu-width});
	display: none;

	li {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity 500ms $ease-out-expo 0ms;

		&.active {
			opacity: 1;
		}
	}


}


// --------------------------------------o States + Animation

.main-header {
	transition: opacity 700ms $ease-out-expo 0ms, visibility 0ms $linear 0ms;

	&.hidden {
		opacity: 0;
		visibility: hidden;
		transition-delay: 0ms, 700ms;
	}

	.main-logo {
		svg {
			transition: fill 1000ms $ease-out-expo 0ms;
		}

		.mask,
		span {
			transition: transform 500ms $ease-out-expo 0ms;
		}

		.mask {
			transform: translate3d(-110%, 0, 0);
			position: relative;
			overflow: hidden;
		}

		span {
			display: block;
			transform: translate3d(110%, 0, 0);
		}

		.mask:nth-child(2) {
			transition-delay: 100ms;

			span {
				transition-delay: 100ms;
			}
		}
	}

	.main-menu {
		transform: translate3d(-100%, 0, 0);
		transition: transform 700ms $ease-out-expo 200ms;
	}

	.open-button {
		transition: opacity 1000ms $linear 0ms;

		div {
			&:after {
				transition: transform 700ms $ease-out-expo 0ms;
			}

			&:nth-child(1):after	{ transition-delay: 0ms; }			
			&:nth-child(2):after	{ transition-delay: 100ms; }			
			&:nth-child(3):after	{ transition-delay: 200ms; }			
		}
	}

	.close-button {
		pointer-events: none;
		opacity: 0;
		transition: opacity 0ms $linear 1000ms;
	}

	.contact {
		font: 400 14px/20px $font-family;
		margin-top: 60px;

		strong,
		a {
			display: block;
		}

		p,
		strong {
			margin-bottom: 20px;
		}

		a {
			color: $grey-middle-color;
		}
	}

	// ---o States
	&.logo-colored {
		.main-logo {
			svg {
				fill: $red-color;
			}
		}

		.open-button {
			div:after {
				background: $grey-color;
			}

			span {
				color: $grey-color;
			}
		}
	}

	&.opened {
		position: relative;
		pointer-events: auto;

		.case-studies-pictures {
			display: block;
		}

		.main-logo {
			svg {
				fill: $red-color;
			}

			.mask,
			span {
				transform: translate3d(0, 0, 0);
				transition-delay: 300ms;
			}

			.mask:nth-child(2) {
				transition-delay: 400ms;

				span {
					transition-delay: 400ms;
				}
			}
		}

		.main-menu {
			transform: translate3d(0, 0, 0);
			transition-delay: 200ms;
		}

		.close-button {
			pointer-events: auto;
			opacity: 1;
			transition-delay: 0ms;
		}

		.open-button {
			pointer-events: none;
			//opacity: 0;
			transition-delay: 1000ms;

			div:after {
				transform: translate3d(calc(50px + 15px), 0, 0);
			}
		}

		& ~ .button-back-to-top {
			display: none;
		}
	}
}

// -----------------------------------------------------------------------o Responsive

@media all and (max-width: $mobile-size) {

	.main-logo {
		top: 10px;
		left: 20px;

		.text {
			display: none;
		}
	}

	.main-menu-button {
		top: 15px;
		left: 80px;
	}

	.main-header {
		height: 50vh;
	}

	.main-header.opened {
		.main-menu-overlay,
		.case-studies-pictures {
			display: none;
		}

		& ~ .main-footer {
			display: none;
		}
	}

	.main-menu {
		width: 100vw;
		font-size: 22px;
		line-height: 50px;
		padding-top: 120px;

		p {
			padding: 0 50px 0 100px;

			&:not(.back-button) {
				&:hover,
				&.active {
					span {
						transform: translate3d(20px, 0, 0);
					}

					&:before {
						transform: translate3d(calc(-100% + 100px), 0, 0);
					}
				}
			}
		}
	}
}