.gallery {

	&.slider {
		position: relative;
		height: 100%;
		width: 100%;
	}

	.slides {
		li {
			position: absolute;
			overflow: hidden;
			height: 100%;
			width: 100%;

			.picture-container {
				height: 100%;
				width: 100%;

				img {
					min-height: 0;
					min-width: 0;
					max-height: 100%;
					max-width: 100%;
				}
			}
		}
	}

	nav.slider-nav {
		top: auto;
		bottom: -20px;
	}

	.slider-steps {
		position: fixed;
	}

	// ---o Animations
	.slides {
		li {
			&.prev {
				img {
					transform: translate3d(100%, -50%, 0);
				}
			}
			&.next {
				img {
					transform: translate3d(-100%, -50%, 0);
				}
			}
		}
	}
}