.page-homepage {

	.page-inner {
		background: $white-color;
	}

	.block-about {
		position: relative;

		.sub-text {
			font: 300 18px/24px $font-family;
			color: $grey-light-color;
			margin-top: 50px;

			&:before {
				display: inline-block;
				content: '';
				height: 1px;
				width: 100px;
				margin-right: 20px;
				background: $grey-light-color;
				position: relative;
				top: -5px;
			}
		}
	}

	.block-social {
		//max-width: 1200px;
		margin: 130px auto 0;
	}

	.block-slider {
		position: relative;
		z-index: 3;
	}

	.block-social {
		background: $background-color;
		padding-top: 200px;
		margin-top: -60px;
		padding-bottom: 130px;
	}
}
	





// -----------------------------------------------------------------------o Responsive

@media all and (max-width: $mobile-size) {

	.page-homepage {
		.block-about {
			.sub-text {
				font-size: 14px;

				&:after {
					width: 50px;
				}
			}
		}

		.block-social {
			margin-top: -120px;
		}

		.shapes-container {
			div:nth-child(2n) {
				display: none;
			}
		}
	}

}