.accordion {

	.item {
		&:not(:last-child) {
			border-bottom: 1px solid $black-color;
		}
	}

	.title {
		font: 700 72px/150px $font-family;
		text-align: center;

		&:not(.active) {
			cursor: pointer;
		}
	}

	.text-container {
		position: relative;
		overflow: hidden;
	}

	.text {
		font: 400 16px/24px $font-family;
		max-width: 800px;
		margin: 0 auto;
		column-count: 2;
		column-gap: 20px;
		padding: 90px 0;

		ul {
			list-style-type: disc;
		}

		& > * {
			display: block;
			margin-bottom: 24px;
		}
	}

	// ---o Transitions

	.text-container {
		height: 0;
		transition: height 700ms $ease-out-expo;
	}
}